@import "tailwindcss";

@theme{
    --color-navbarBgColor: #121316;
    --color-lightWritingColor: #c1c1c5;
    --color-BrightWritingColor: #f5efe6;

}
/* Wrap your custom styles in the 'base' layer */
@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif;
  }
}